<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>itstorefleetdeals</name>
  <displayName><![CDATA[IT Store Fleet Deals]]></displayName>
  <version><![CDATA[1.0.0]]></version>
  <description><![CDATA[Business Fleet Deals + Clearance promo band with a Request-Quote form.]]></description>
  <author><![CDATA[Syber Info]]></author>
  <tab><![CDATA[front_office_features]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
