<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>itstoretopbar</name>
  <displayName><![CDATA[IT Store Top Bar]]></displayName>
  <version><![CDATA[1.0.0]]></version>
  <description><![CDATA[Slim header utility bar: Track Order, Business Accounts, contact.]]></description>
  <author><![CDATA[Syber Info]]></author>
  <tab><![CDATA[front_office_features]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
