<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>itstorecategoriesblock</name>
  <displayName><![CDATA[IT Store Category Tiles]]></displayName>
  <version><![CDATA[1.0.0]]></version>
  <description><![CDATA["Shop by category" tiles on the home page, built from your category tree.]]></description>
  <author><![CDATA[Syber Info]]></author>
  <tab><![CDATA[front_office_features]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
